@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-prev {
    left: 3% !important;
    z-index: 1;
}
.slick-next {
    right: 3% !important;
    z-index: 1;
}
#project>div,#project2>div,#effect4,#effect5,#effect6{
    box-shadow: rgba(214, 3, 3, 0.3) 0px 0px 0px 3px ;
}


  
  
#effect,#effect1,#effect2,#pr1,#pr2,#pr3{
    background-image: linear-gradient(
      -225deg,
      #e67a22 0%,
      #a8ec0a 29%,
      #ff1361 67%,
      #1185c9 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
        /* font-size: 3rem; */
  }
  
  #button1 a,#button2 a,#button3 a{
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 10px 0;
    color: #03e9f4;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 50px;
   
  }
  #button1 a:hover,#button2 a:hover,#button3 a:hover{
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}
#button1 a:nth-child(1),#button2 a:nth-child(1),#button3 a:nth-child(1){
    filter: hue-rotate(270deg);
}
#button1 a:nth-child(2),#button2 a:nth-child(2),#button3 a:nth-child(2){
    filter: hue-rotate(110deg);
}
#button1 a span,#button2 a span,#button3 a span{
    position: absolute;
    display: block;
}
#button1 a span:nth-child(1),#button2 a span:nth-child(1),#button3 a span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#03e9f4);
    animation: animate1 1s linear infinite;
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
#button1 a span:nth-child(2),#button2 a span:nth-child(2),#button3 a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#03e9f4);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
#button1 a span:nth-child(3),#button2 a span:nth-child(3),#button3 a span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#03e9f4);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}

#heading1,#heading2,#heading3,#heading4,#heading5,#heading6{
	    color: #fcedd8;
	
	   	font-family:  cursive;
	    font-weight: 700;
      text-shadow: 5px 5px 0px #eb452b, 
                  10px 10px 0px #efa032, 
                  15px 15px 0px #46b59b, 
                  20px 20px 0px #017e7f, 
                  25px 25px 0px #052939; 
                  /* 30px 30px 0px #c11a2b, 
                  35px 35px 0px #c11a2b, 
                  40px 40px 0px #c11a2b, 
                  45px 45px 0px #c11a2b; */
}
#button1 a span:nth-child(4),#button2 a span:nth-child(4),#button3 a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#03e9f4);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}
  @keyframes textclip {
      to {
        background-position: 200% center;
      }
    }
  
